body {
    font-family: 'cairo', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F78812;
    color: #fff;
    padding: 1em;
}
.video-container {
    position: relative;
    width: 80%;
    max-width: 800px;
}
.info-card h4{
    color: #F78812;
}
/* Style the video player */
video {
    width: 100%;
    height: auto;
    display: block;
}

header img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

nav {
    text-align: start;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

header li {
    margin-right: 50px;
}

a {
    text-decoration: none;
    color: #fff;
}

.main-img {
    position: relative;
    text-align: center;
}

.main-img img {
    max-width: 100%;
    height: auto;
}

.main-img p {
    font-size: 72px;
    font-family: cairo;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #51050F;
}

.main-img p span {
    margin: 10px;
    color: #F78812;
}

.container {
    position: relative;
    display: inline-block;
    /* or inline-block, depending on your layout */
}

img {
    display: block;
    width: 100%;
    /* Make the image responsive */
}

.cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f788121e;
    /* Adjust the color and opacity as needed */
    /* If you want to add an image as the cover background:
            background-image: url('path/to/your/image.jpg');
            background-size: cover;
            background-position: center;
            */
    transition: background-color 0.4s ease;
}

.container-training {
    padding: 10px;
    position: relative;
    margin-top: 20px;
    margin-right: 30px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin-bottom: 20px;
}

.card-training img {}

.info-card {
    display: flex;
    align-items: flex-start;
    grid-column: span;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-evenly;
    color: #f4f4f4bb;
}

.info-card h3 {
    margin-top: 2px;
    color: #f4f4f4;
}

.info-card p {
    margin: 0px;
    color: #f4f4f4;
}

.card-training {
    border-radius: 5px;
    margin-right: 1px;
    background-color: #51050F;

}
.div-title {
    width: 100%;
    margin-top: 20px;
    color: #f4f4f4;
    display: flex;
    justify-content: center;
    background-color: #F78812;
}

.div-title h2 {
    padding: 0px;
}
footer {
    height: 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    background-color: #51050F;
}
.first {
    display: flex;
    justify-content: start;
    margin-right: 40px;
    align-items: center;
}
.first img {
    width: 125px;
    height: 125px;
}
.third {

    display: flex;
    justify-content: center;
    align-items: start;
    padding-top: 10px;

}
.butoon-input-footer {

    font-size: 16px;
    font-family: cairo;
    border: 1px solid #000000;
    /* Set the border with color */
    width: 80px;
    height: 42px;
    padding: 5px;
    border: 1px solid #ccc;
    margin-left: 5px;
    margin-top: 20px;
    transition: background-color 0.1s ease;
}
.text-input-footer {
    margin-top: 20px;
    border: 1px solid #000000;
    /* Set the border with color */
    width: 250px;
    height: 30px;
    padding: 5px;
    border: 1px solid #ccc;
}
.out-ul li {
    padding-bottom: 10px;
    font-size: 18px;
    transition: background-color 0.3s ease;
    cursor: pointer;

}
footer .second {
    display: grid;
    grid-template-rows: repeat(1, 0.3fr);
    grid-template-columns: repeat(2, 0.5fr);
    color: #f4f4f4;
    align-items: start;
}
.card-training img{
    transition: opacity 0.3s, transform 0.3s;

}
.for-content {
    width: 100%;
    background-color: #0c0c0c;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    gap: 40px;
}
footer .second .out-ul {
    display: grid;
    grid-template-rows: repeat(4, 0.4fr);
    /* padding-top: 50px; */
}
.cover:hover {
    background-color: rgba(189, 153, 99, 0)
}

